.btn {
	padding: .75rem 1.25rem;
	background: none;
	background-color: gray;
	outline: none;
	border: none;
	border-radius: .5em;
	width: 100%;
	transform: scale(1);
	transition: all 200ms ease-in-out;
	font-size: 1rem;
	font-weight: bolder;
}

.btn:hover{
	transform: scale(1.05);
	background-color: orangered;
	cursor: pointer;
}

.btn:focus{
	box-shadow: 0 0 10px 0 black;
}

.btn.btn-primary {
	background-color: orangered;
	border-radius: 99999px;
	padding: .75rem 1.75rem;
}

.btn.btn-primary:hover {
	background-color: orangered;

}