/*
	Author: Daniel Cargar Mahyar & Samuel Botansky
	@Copyright Vocast

	Notes:
		- MOBILE FIRST - DESKTOP LATER model
			- Media Quieries are used to develop Desktop view
*/

/*Importing fonts from Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

/* Import all css classes: */
@import url("classes/input.css");


/*Normalize CSS properties applies to all viewports*/
*, 
*::after,
 *::before{
	--black-color: #252525;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}


/* ### MOBILE CSS START ### */

header{
	background-color: var(--black-color);
	height: 100%;
	width: 100%;
	color: white;
	overflow: hidden;
	position: relative;
}
	
.nav{
	height: 10vh;	
	color: white;
	padding: 1.25rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 2rem;
}

.nav-links{
	display: none;
}

.nav-btn{
	display: none;
}

.logo{
	font-size: 1.25rem;
}

.hamburger-menu{
	display: block;
}

.hamburger-menu:hover{
	cursor: pointer;
}

.big{
	color: red;
}

.hero{
	position: relative;
	height: 55vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
	padding: 1.25rem;
	overflow-x: hidden;
	overflow-y: hidden;

}

.hero-left-section{
	z-index: 10;
	align-self: left;
}


.hero-img{
	position: absolute;
	right: -100px;
	bottom: 0;
	height: 90%;
	z-index: 0;
}

.hero-img-desktop{
	display: none;
}

.hero .btn {
	margin-top: 20px;
}

.hero-text{
	font-size: 3.5rem;
	z-index: 10;
}

.hero-subtitle{
	z-index: 20;
	align-self: center;
	font-size: 1.5rem;
}


.hero-subtitle p{
	text-align: center
}

main {
	padding: 1.5rem;
}

.icons{
	text-align: center;
	display: flex;
	flex-direction: column;
}
.open-247{
	margin-top: 1vh;
	margin-bottom: 1vh;
	font-size: medium;
}
.icon-title{
	text-align: center;
	margin-bottom: 10px;
}
.under-title{
	margin-top: 5px;
	margin-bottom: 1rem;
}
.slideshow{
	background-color: #8d8d8d;
	height: 200px;
	/* cargar her er height til den box */
	margin-bottom: 2rem;

}
.news{
	background-color: #d6d6d6;

}
.container-news{
	padding: 3px 16px;
}
.title-second-section{
	font-size: x-large;
	margin-top: 1rem;
	margin-bottom: 2vh;
	text-align: center;
}
.title-second-section-first{
	margin-top: 2rem;
}
.news-section{
	display: flex;
	flex-direction: column;
	width: 100%;
}
.news-first{
	width: 100%;
	margin-bottom: 2rem;
}
.news-second{
	width: 100%;
}
.third-section{
	background-color: #d6d6d6;
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
	text-align: center;
}
.third-section-title{
	padding: 1rem;
	font-size: x-large;
	font-weight: bolder;
	text-align: center;
	margin-top: 0.5rem;
}
.map-responsive{
    overflow:hidden;
	padding-bottom: 80%;
    position: relative;
    height:0;
}
.map-responsive iframe{
    left: 0;
	right: 0;
	top: 1rem;
    height:100%;
    width:100%;
    position:absolute;
	border-radius: 0.5em;
}

.map-btn{
	padding: 0.75rem 1.75rem;
	background: none;
	border: none;
	border-radius: 999999px;
	background-color: white;
}
.container-news p{
	padding:1rem;
}
.map-text p{
	padding: 1rem;
}
.btn-maps{
	width: 50%; 
	margin: 0 auto;
	margin-top: .5rem;
}
footer{
	background-color: #252525;
	color: white;
	height: 250px;
}
footer h2{
	padding: 2rem;
}
.copyright{
	background-color: #252525;
	text-align: center;
	padding-bottom: 1rem;
}
.copyright p{
	color: #6d6d6d;
	font-size: .75rem;
}

@media (min-width:420px)  {

	.hero-img{
		position: absolute;
		right: -50px;
		bottom: 0;
		height: 100%;
		z-index: 0;
	}
	.map-responsive{
		overflow:hidden;
		padding-bottom: 60%;
		position: relative;
		height:0;
	}
	.map-responsive iframe{
		left: 0;
		right: 0;
		top: 1rem;
		height:100%;
		width:100%;
		position:absolute;
	}
	.btn-maps{
		width: 40%; 
		margin: 0 auto;
		margin-top: .5rem;
	}
}

/* ### MOBILE CSS END ### */


/*Desktop CSS*/
@media (min-width:670px)  {
	.nav{
		width: 80%;
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 1.5em;
	}

	.nav-links{
		display: flex;
		justify-content: space-evenly;
		grid-column: span 2;
	}

	.nav-links a {
		text-decoration: none;
		color: white;
		font-weight: bold;
	}

	.nav-btn{
		display: block;
	}
	.hero{
		width: 80%;
		height: 70vh;
		margin: 0 auto;
		display: flex;
		overflow: hidden;
	}

	.hamburger-menu{
		display: none;
	}

	.hero-img{
		display: none;
	}

	.hero-subtitle{
		display: none;
	}

	.hero-img-desktop{
		display: block;
		overflow: hidden;
		position: absolute;
		right: -150px;
		bottom: 50px; 
		height: 70%;
	}

	main{
		width: 80%;
		margin: 0 auto;
	}
	.icons{
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin-left: 2rem;
	}
	.icon-title{
		font-size: xx-large;
		margin-bottom: 20px;
	}
	.under-title{
		margin-top: 1rem;
	}
	.news-section{
		display: flex;
		flex-direction: row;
		width: 100%;
		height:auto;
	}
	.news-first{
		width: 97.5%;
		margin-right: 2.5%;
		margin-bottom: 0;
	}
	.news-second{
		width: 97.5%;
		margin-left: 2.5%;
	}
	.map-responsive{
		overflow:hidden;
		padding-bottom: 40%;
		position: relative;
		height:0;
	}
	.map-responsive iframe{
		left: 0;
		right: 0;
		top: 1rem;
		height:100%;
		width:100%;
		position:absolute;
	}
	.btn-maps{
		width: 25%; 
		margin: 0 auto;
		margin-top: .5rem;
	}
	.copyright p{
		color: #6d6d6d;
		font-size: 14px;
	}
}

@media (min-width:1024px)  {
	.hero-img-desktop{
		right: 0px;
		bottom: 25px; 
		height: 80%;
	}
	.icons{
		justify-content: space-between;
	}
	.icon-title{
		margin-bottom: 2rem;
	}

	.hero-text{
		font-size: 4.5rem;
		z-index: 10;
	}
	.second-section{
		display: flex;
		flex-direction: column;
		height: auto;
	}
	.slideshow{
		background-color: #8d8d8d;
		width: 100%;
		height: 300px;
		/* cargar her er height til den box */
	}
	.news{
		width: 100%;
		background-color: #d6d6d6;
	}
	.container-news{
		padding: 3px 1rem;
	}
	.title-second-section{
		font-size: xx-large;
	}
	.third-section-title{
		padding: 1rem;
		font-size: x-large;
		font-weight: bolder;
		text-align: center;
		margin-top: 1rem;
	}
	.map-responsive{
		overflow:hidden;
		padding-bottom: 30%;
		position: relative;
		height:0;
	}
	.map-responsive iframe{
		left: 10%;
		right: 10%;
		top: 1rem;
		height:80%;
		width:80%;
		position:absolute;
		border-radius: .5em;
	}
	.btn-maps{
		width: 20%; 
		margin: 0 auto;
		margin-top: .5rem;
	}
}

@media (min-width:1280px)  {
	.btn-maps{
		width: 20%; 
		margin: 0 auto;
		margin-top: .5rem;
		padding: 1rem;
		font-size: large;
	}
}
	

/* @media (min-width:1000px)  {

	.hero-img{
		background-position: 0 -150px;
	}

} */
@media (min-width:1430px)  {
	.nav-links a {
		text-decoration: none;
		color: white;
		font-weight: bold;
		font-size: 1.25rem;
	}
	.logo{
		font-size: 1.5rem;
	}
	.under-title{
		margin-top: 5px;
		margin-bottom: 1rem;
		font-size: 20px;
	}
	.container-news p{
		padding:1rem;
		font-size: 20px;
	}
	.container-news h4{
		padding:.5rem;
		font-size: 24px;
	}
	.map-text p{
		padding: 1rem;
		font-size: 20px;
	}
	footer h2{
		padding: 2rem;
		font-size: 1.75rem;
	}
}

@media (min-width:1540px){

	.map-responsive{
		overflow:hidden;
		padding-bottom: 30%;
		position: relative;
		height:0;
	}
	.map-responsive iframe{
		left: 20%;
		right: 20%;
		top: 1rem;
		height:80%;
		width:60%;
		position:absolute;
	}
	.btn-maps{
		width: 15%; 
		margin: 0 auto;
		margin-top: .5rem;
		padding: 1rem;
		font-size: 22px;
	}
}
@media (min-width:1650px){
	
	footer h2{
		font-size: 2rem;
	}

}