/*
	Author: Daniel Cargar Mahyar
	@Copyright Vocast

	Notes:
		- MOBILE FIRST - DESKTOP LATER model
			- Media Quieries are used to develop Desktop view
*/

/*Importing fonts from Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

/* Import all css classes: */
@import url("classes/input.css");


/*Normalize CSS properties applies to all viewports*/
*, 
*::after,
 *::before{
	--black-color: #252525;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}


/* ### MOBILE CSS START ### */

header{
	background-color: var(--black-color);
	height: 100%;
	width: 100%;
	color: white;
}

.nav{
	height: 10vh;	
	color: white;
	padding: 1.25rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 2rem;
}

.logo{
	font-size: 1.25rem;
}

.hamburger-menu:hover{
	cursor: pointer;
}

.hero{
	position: relative;
	height: 55vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
	padding: 1.25rem;
	overflow-x: hidden;
}

.hero-left-section{
	z-index: 10;
	align-self: left;
}


.hero-img{
	position: absolute;
	right: -100px;
	bottom: 0;
	height: 90%;
	z-index: 0;
}

.hero-img-desktop{
	display: none;
}

.hero .btn {
	margin-top: 20px;
}

.hero-text{
	font-size: 3.5rem;
	z-index: 10;
}

.hero-subtitle{
	z-index: 20;
	align-self: center;
	font-size: 1.5rem;
}


.hero-subtitle p{
	text-align: center
}





@media (min-width:420px)  {

	.hero-img{
		position: absolute;
		right: -50px;
		bottom: 0;
		height: 100%;
		z-index: 0;
	}

}

/* ### MOBILE CSS END ### */


/*Desktop CSS*/
@media (min-width:670px)  {
	.hero-img{
		display: none;
	}

	.hero-img-desktop{
		display: block;
		width: 50%;
	}
}


/* @media (min-width:1000px)  {

	.hero-img{
		background-position: 0 -150px;
	}

} */